
body {background: linear-gradient(to bottom, #ce1e1e, #d15a10, #c0c615, #248409, #1182d8, #7e11d8); height:100%; 
color:black ;} /* Your CSS Here */
 /* Your CSS Here */
html {height:100%;}
img {border:8px solid;}
.unicorns {text-align: center;}
.pictures {display:flex; justify-content: space-between;


}

li {list-style-position: inside;}
