.title {
  font-size:18px;
}
.top {
  background-color: rgb(200, 500, 250);
  text-align:center;
}
.the-button {
  color:rgb(400, 300, 600);
  border-radius: 50%;
}
.divlist {
  width:19%;
  display:inline-block;
  
}
